extends layout

block layout-content
  div.View
    h1.Banner Online Collaborative Text Editor
    div.Message
      div.Title
        h2 Login
        h3 Please login before access the editor
    div.NavButtons
      a(href="#")
          div.NavButton <div class="g-signin2" data-onsuccess="onSignIn"></div>