extends layout

block layout-content
  div.View.UserView
    h1.Banner Online Collaborative Text Editor
    div.Message
      div.Title
        h3 Welcome #{userProfile.name}!
        <img src=#{userProfile.picture} alt="Avatar" class="avatar"/>
      div.Editor
        <textarea id="note"></textarea>
        script(type="text/javascript")
          |var socket = io()
          |socket.on('doc', function(data) {
          |  var cm = CodeMirror.fromTextArea(document.getElementById('note'), {lineNumbers: false})
          |  cm.setValue(data.str)
          |  cm.setSize(900, 300);
          |  var serverAdapter = new ot.SocketIOAdapter(socket)
          |  var editorAdapter = new ot.CodeMirrorAdapter(cm)
          |  var client = new ot.EditorClient(data.revision, data.clients, serverAdapter, editorAdapter)
          |})
    div.NavButtons
      a(href="#" onclick="logout()")
        div.NavButton Log out
  